@import url(../fonts/fonts.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1140px;
  display: grid;
  grid-template-columns: 711px 1fr;
  align-items: end;
  column-gap: 30px;
}

.result {
  height: 456px;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin: 0 0 16px 0;
}

.result__video {
  width: 100%;
  object-fit: fill;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
  gap: 40px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__label:has(:focus-visible) {
  outline: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form__textfield {
  appearance: none;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background: transparent;
  color: #ffffffb2;
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin: 5px 0 0 0;
  padding: 2.5px 14px 2.5px 0px;
  width: 225px;
  cursor: pointer;
}

.search-form__textfield:focus-visible {
  outline: none;
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__fieldset {
  width: max-content;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
  gap: 15px;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  cursor: pointer;
  position: relative;
}

.search-form__checkbox-list > .search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__checkbox {
  position: relative;
  cursor: pointer;
}

.search-form__checkbox:focus-visible {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  outline: 1px solid #ffffff;
  outline-offset: 1px;
  background-color: transparent;
  margin-right: 7px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
}

.search-form__pseudo-checkbox:focus-visible {
  outline: 1px solid #ffffff;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  justify-self: center;
  align-self: center;
  width: 194px;
  height: 34px;
}

.button {
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background: #545050;
  text-decoration: none;
}

button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin: 0 0 26px 0;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 390px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover > .content__video-card {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: none;
  border: 1px solid #ffffff;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  align-content: start;
  color: #ffffff;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 201px;
}

.content__video-card-title {
  display: block;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  width: 199px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  margin: 6px 0;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
  margin: 30px 0 0 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
